body{
background-color: palegoldenrod;
}
#show_sketch{
    color: oldlace;
    background-color: goldenrod;
    border: 3px darkgoldenrod solid;
    float: left;
    margin-left: 3px;
}
#score{
    float: left;
    font-variant-caps: all-petite-caps;
    font-variant: small-caps;
    margin-left: 10px;
}
#timer{
    float: right;
    font-variant-caps: all-petite-caps;
    font-variant: small-caps;
    margin-right: 10px;
}
p{
    float: none;
    color: mintcream;    
}
#backdrop{
    background-color: gold;
}